header.s-header.s-base
  .grid.grid--container
    .row-filling
      .col-filling--sm-fit
        +b-logo('logo.png')
      .col-filling--sm-fill.show--sm
      .col-filling--sm-fit
        ul.list-reset
          li
            a.b-phone(href="tel:+71234567890")
              span.b-phone__cod
                | +7 (123)
              |  
              span.b-phone__num
                | 456-78-90
          li
            +b-email('email@dom.ru','icon-email').b-email
    .row
      .col
        .show--md
          +b-multiMenu(menu_main,'b-main-menu','submenu')
        .hide--md.text--right
          button(data-bars="btn" aria-hidden="true").btn
            | ☰
