[class*="col-filling"] {
  width: 100%;
  padding-top: $grid-gutter;
  padding-left: $grid-gutter/2;
  padding-right: $grid-gutter/2;
  padding-bottom: 0;
  
  &.col-filling--no-gutters {
    padding: 0;
  }
}
