// GRID BASE BREAKPOINTS

// fixed width of the site | 980px | false
$fix_width_site: false !default;

// breakpoints window
$sm: 576px ;
$md: 768px ;
$lg: 992px ;
$xl: 1200px;

// переменные значения, находятся в главном vars.scss
$breakpoints: (
        xs : 0,
        sm : $sm,
        md : $md,
        lg : $lg,
        xl : $xl
) !default;

// breakpoints content
$breakpoints-max-width: (
        sm : 540px,
        md : 720px,
        lg : 960px,
        xl : 1140px
) !default;

// Number of columns
$columns: 12 !default;

// Grid base gutter of columns
// 15px 0.9375rem | 16px 1rem | 20px 1.25rem | 30px 1.875rem | 40px 2.5rem
$grid-gutter: $gutter_base !default;

// MEDIA MIN
$min-sm: 'min-width: #{$sm}' !default;
$min-md: 'min-width: #{$md}' !default;
$min-lg: 'min-width: #{$lg}' !default;
$min-xl: 'min-width: #{$xl}' !default;

// MEDIA MAX
$max-sm: 'max-width: #{$sm - 1}' !default;
$max-md: 'max-width: #{$md - 1}' !default;
$max-lg: 'max-width: #{$lg - 1}' !default;
$max-xl: 'max-width: #{$xl - 1}' !default;
