// THEME STYLE
.modall
  a,button:focus:after
    outline: none
  // .modall--animation
  transform: translateY(-50px)
  transition: all .3s
  .fancybox-slide--current &
    transform: translateY(0)
.modall--default
  background: #fff
  padding: 40px 50px
  max-width: 700px
  @media (max-width: 479px)
    padding: 20px
.modall--form


// EDIT AUTOR STYLE
[data-src],
[data-modall],
[data-fancybox]
  outline: none
.fancybox-bg
  background: #000
  .fancybox-is-open &
    opacity: .75

// http://take.ms/qpEEb
.fancybox-thumbs
  background: #373636
  > ul > li
    width: 50%
