include vars
include mixins/mix-include
doctype html
html(lang="ru")
  head
    include common/head
  body.page(class=bodyClasses)
    if header
      // HEADER START 
      include common/header
      // HEADER END 
    if main
      // MAIN START 
      main.s-main
        block content
      // MAIN END 
    if footer
      // FOOTER START 
      include common/footer
      // FOOTER END 
    if modals
      // MODALS START 
      .hidden
        include common/modals
      // MODALS END 
  include common/scripts
