doctype html
include vars
include mixins/mix-include
html(lang="ru")
  head
    include common/head
  body.page(class=bodyClasses)
    .page-wrap.sticky-footer
      .sticky-footer__head
        if header
          // HEADER START 
          include common/header
          // HEADER END 
      .sticky-footer__main
        if main
          // MAIN START 
          main.s-main
            block content
          // MAIN END 
      .sticky-footer__foot
        if footer
          // FOOTER START 
          include common/footer
          // FOOTER END 
    if modals
      // MODALS START 
      .hidden
        include common/modals
      // MODALS END 
    include common/scripts
