//- BASE VARIABLES
- var title         = 'Заголовок страницы'
- var bodyClasses   = []
- var activeMenu    = []

//- INCLUDES COMMON
- var header        = true
- var main          = true
- var footer        = true
- var modals        = true
- var favicon       = false
- var modernizr     = false

//- CACHE-BUSTING PLUGIN
- var revAppend     = '?rev=@@hash'

//- ICOMOON APP
  - var icomoon       = '754aa778e0/proj'


//- CONNECTION VARIABLES TO MAIN
block vars
