// CLEARFIX
.clearfix           {@include clearfix;}

// TEXT-DECORATION
.tdu                {text-decoration: underline !important}
.tdl                {text-decoration: line-through !important}
.tdn                {text-decoration: none !important}
.ttu                {text-transform: uppercase !important}

// LIST-STYLE
.list-zero          {list-style-type: decimal-leading-zero}
.list-square        {list-style-type: square}

// BLOCKS SHOW/HIDE
.hide               {display: none}
.show               {display: block}
.hidden             {display: none !important}
.text-hide          {@include hide-text;}

// RESET
.reset-list         {@include reset-list}
.reset-table        {@include reset-table}

// OTHER
.rzn                {resize: none !important}
.w100p              {width: 100% !important}
.nowrap             {white-space: nowrap !important}
.dib                {display: inline-block !important; vertical-align: middle}

// RESPONSIVE
.responsive-img     {@include responsive-img}
.responsive-video   {@include responsive-video}
.responsive-table   {@include responsive-table}

// FULL-SCREEN
.full-screen-vertical {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  &__fit {flex-shrink: 0;}
  &__fill {flex: 1 0 auto;}
}

// example: .wrap.wrap--w700
@include wrap($wrap);

// example: .bg-white/.text-white
@each $var in $array-colors {
  @include colors($var);
}

.bg-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}
