footer.s-footer
  .grid.grid--container
    .row.row--xs-center
      .col.col--md.col--md-fit
        .b-copyright.text--xs-center
          | © 2015 Copyright
      .col.col--md.col--md-fill
        +multiMenu(menu_main,'b-footer-menu')
      .col.col--md.col--md-fit
        .b-developer.text--xs-center
          | Разработка сайта: 
          a(href="//studio.ru" target="_blank") studio.ru
