footer.s-footer.s-base
  .grid.grid--container
    .row-filling.row-filling--xs-center
      .col-filling--md-fill
        .b-copyright.text--md-left.text--center
          | © 2015 Copyright
      .col-filling--md-fit
        .b-developer.text--md-left.text--center
          | Разработка сайта: 
          a(href="//studio.ru" target="_blank") studio.ru
