meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="viewport" content="width=device-width, initial-scale=1")

block title
  title=title

if favicon
  link(rel='apple-touch-icon', sizes='180x180', href='images/favicons/apple-touch-icon.png')
  link(rel='icon', type='image/png', href='images/favicons/favicon-32x32.png', sizes='32x32')
  link(rel='icon', type='image/png', href='images/favicons/favicon-16x16.png', sizes='16x16')
  link(rel='manifest', href='images/favicons/manifest.json')
  link(rel='mask-icon', href='images/favicons/safari-pinned-tab.svg', color='#5bbad5')
  meta(name='theme-color', content='#ffffff')

meta(name="description" content="")
meta(name="keywords" content="")

// build:css css/vendors.min.css 
= '\n'
<!-- bower:css -->
<link rel="stylesheet" href="/bower_components/normalize-css/normalize.css" />
<!-- endbower -->
// endbuild 

if icomoon
  +links("//i.icomoon.io/public/temp/"+icomoon+"/style.css")
+links("css/theme.min.css"+revAppend)
if modernizr
  +scripts("js/modernizr.js")
  
//[if lt IE 10]><link href="//rawgit.com/codefucker/finalReject/master/reject/reject.css" rel="stylesheet"/><script src="//rawgit.com/codefucker/finalReject/master/reject/reject.min.js"></script><![endif]
